.comments {
  margin-bottom: 15px;
  margin-top: 15px;

  .comment {
    margin-bottom: 15px;
    .information {
      white-space: normal;
    }
      
    .description {
      padding-top: 5px
    }
      
  }


}